#nav{
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
}
#nav li{
float: left;
margin-right: 10px;
position: relative;
display: block;
}
#nav li a{
    display: block;
    padding: 5px;
    color: #fff;
    background: #333;
    text-decoration: none;
    transition: .4s background; /* переход для плавности ховера */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75); /* тень текта что бы его немного поднять */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#nav li a:hover{
    color: #fff;
    background: #ffcc00;
    background: rgba(255,204,0,0.75); /* выглядит полупрозрачным */
    text-decoration: none; /* убираем декорацию текста для избежания подчеркивания*/
    transition: .4s background; /* Делаем переход для плавности ховера */
}

/* ВЫПАДАБЩИЕ ПУНКТЫ */
#nav ul{
    list-style: none;
    position: absolute;
    left: -9999px; /* скрываем за экраном когда не нужно */
    opacity: 0; /* устанавливаем начальное состояние прозрачности */
    -webkit-transition: 0.25s linear opacity; /* в вебкит выпадающие пункты будут проявляться */
}
#nav ul li{
    padding-top: 1px; /* Вводим отступ между ли чтобы создать иллюзию разделенных пунктов меню */
    float:none;
}
#nav ul a{
    white-space: nowrap; /* Останавиваем перенос текста и создаем многострочный выпадающий пункт*/
    display: block;
}
#nav li:hover ul{ /* выводим выпадающий пункт при наведении курсора */
    left: 0; /* приносим его обратно на экран, когда нужно */
    opacity: 1; /* делаем непрозрачным */
}
#nav li:hover a{ /* устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background: #ffcc00;
    background: rgba(255,204,0,0.5); text-decoration: underline;
}
#nav li:hover ul a{ /* изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background: #333;
    background: rgba(51,51,51,0.5); /* будет полупрозрачным */
    text-decoration: none;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
#nav ul{
    list-style: none;
    position: absolute;
    left: -9999px; /* скрываем за экраном, когда не нужно */
    opacity: 0; /* устанавливаем начальное состояние прозрачности */
    -webkit-transition: 0.25s linear opacity; /* в Вебкит выпадающие пункты будут проявляться */
}
#nav ul li{
    padding-top: 1px; /* вводим отступ между ли что бы создать иллюзию раздельных пунктов меню */
    float: none;
}
#nav ul a{
    white-space: nowrap; /* останавливаем перенос текста и создаем многострочный выпадающий пункт */
    float: none;
}
#nav li:hover ul{ /* выводим выпадающий пункт при наведении курсора */
    left: 0; /* Приносим его обратно на экран, когда нужно */
    opacity: 1; /* делаем непрозрачным */
}
#nav li:hover a{
    background: #ffcc00;
    background: rgba(255,204,0,0.5); text-decoration: underline;
}
#nav li:hover ul li a:hover{ /* устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background: #333;
    background: rgba(51,51,51,0.5); /* будет прозрачным */
    text-decoration: none;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}